$color-1: #FFCD3C;
$color-2: #d6a311;
$color-3: #f1f1f1;
$color-4: #334D5C;
$color-5: #45B29D;
$color-6: #2f7769;

$offgrey: #fafbfc;

$white: #fff;
$black: #000;
$grey: #666b6f;
$light-grey: #aaa;
$faded: #94751b;
