<div class="panel contact">
    <div class="container">
        <div class="col left">
            <div class="inner" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <h3>Have a project in mind?</h3>
                <img src="/assets/images/arrow3.png" class="arrow" />
                <h5>Share your story and see what we can achieve together</h5>
                <p>Available to <strong>consult, advise, and create</strong> across the UK.</p>
                <p>Specialising in digital service design, websites, web applications and digital products where the
                    <strong>user experience</strong> is paramount.</p>
                <p>
                    <a href="mailto:{{ site.email }}" itemprop="email">{{ site.email }}</a>
                </p>
            </div>
        </div>
        <div class="col right">
            <div class="inner">
                <form action="https://formspree.io/f/mjvjedrn" method="POST" method="post" id="subForm">
                    <p>
                        <label for="form_name">Name</label>
                        <input name="_name" type="text" required />
                    </p>
                    <p>
                        <label for="form_email">Email</label>
                        <input name="_replyTo" type="email" required />
                    </p>
                    <p>
                        <label for="form_telephone">Telephone (optional)</label>
                        <input name="_telephone" type="text" />
                    </p>
                    <p class="full">For a <strong>free quote</strong> please include as much detail as possible —
                        budget, requirements, timelines — so that we can answer you accurately and quickly. It may be
                        possible to start immediately, or we can book in advance.</p>
                    <p>
                        <textarea name="_message" rows="5" required></textarea>
                    </p>
                    <p class="full">
                        <button type="submit" class="contrast">Send enquiry »</button>
                    </p>
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_next" value="https://cherrett.digital/thank-you/" />
                </form>
            </div>
        </div>
    </div>
</div>
