<div class="panel footer dark">
    <div class="container">
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="/contact">{{site.email}}</a>
        </p>
        Copyright © {{ site.time | date: '%Y' }}
        <span class="spacer">•</span>
        <strong itemprop="seller" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Cherrett Ltd</span>
        </strong> is a company registered in England
        <span class="spacer">•</span>
        <strong>Company No.</strong> 10347745
        <span class="spacer">•</span>
        <strong>VAT No.</strong> <span itemprop="vatID">GB 249 1298 82</span>
        <span class="spacer">•</span>
        Bournemouth, Dorset, UK
    </div>
</div>