<div class="panel footer dark">
    <div class="container">
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="/contact" style="margin-right: 15px;">{{site.email}}</a>
            <i class="fab fa-linkedin-in" aria-hidden="true"></i> <a href="https://www.linkedin.com/company/cherrett-digital/about/?viewAsMember=true">LinkedIn</a>
        </p>
        Based in Salisbury, Wiltshire. Directly serving London, Surrey, Berkshire, Hampshire and Dorset. Available to consult, advise, and create across the UK.
        <br/><br/>
        Copyright © {{ site.time | date: '%Y' }}
        <span class="spacer">•</span>
        <strong itemprop="seller" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Cherrett Digital</span>
        </strong> is a trading name of Cherrett Ltd, a company registered in England
        <span class="spacer">•</span>
        <strong>Company No.</strong> 10347745
        <span class="spacer">•</span>
        <strong>VAT No.</strong> <span itemprop="vatID">GB 249129882</span>
    </div>
</div>