<div class="topbar {{include.class}}">
    <!--<div class="announce">
        <div>We've moved, and found bigger walls to write on! You'll now find us at <a href="https://thiswork.space/" target="_blank">THIS workspace</a> in Bournemouth. Drop in for a coffee soon and say some words to us!</div>
    </div>-->
    <div class="mega-menu hidden">
        <div class="container">
            {% include menu.html %}
        </div>
        <!--
					<div class="actions">
							<a href="/contact" class="button"><i class="fa fa-check" aria-hidden="true"></i> <strong>Accepting new projects</strong> for {{site.availability}}</a>
					</div>
				-->
    </div>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/assets/images/logo.png" />cherrett.digital</a>
        </div>
        <div id="menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>