$desktop: 1175px;
$tablet: 1024px;
$phone: 414px;

$font-main: "adelle", arial, sans-serif;
$font-titles: "museo-sans", arial, sans-serif;

body, html {
	padding: 0;
	margin: 0;
	font-family: $font-main;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $offgrey;
}

a{
	color: $black;
	text-decoration:none;
}

p{
	font-size: 15px;
	line-height: 23px;
	font-weight: 100;

	a{
		text-decoration:none;
		color: $color-5;
		font-weight: 500;

		&:hover{
			text-decoration: underline;
		}
	}

	&.intro{
		font-weight: 500;
		font-size:20px;
		line-height: 28px;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-titles;
}

h2{
	font-size: 22px;
	padding:0;
	margin:0;
}

h3{
	font-size: 30px;
	margin: 20px 0 18px;

	@media (max-width: $tablet) {
		font-size:26px;
	}
}

h4{
	font-size: 20px;
	margin:0 0 20px 0;
}

h5{
	font-size: 20px;
}

h6{
	font-size:16px;
	padding:0;
	margin:0;
	font-weight:500;
}

strong{
	font-weight: 500;
}

img{
	max-width:100%;
}

i{
	margin: 0 5px;
}

ul{
	font-size:15px;
}

ul.list{
	li{
		font-weight:100;
		line-height: 24px;

		span{
			display: block;
			padding-bottom:10px;
			color: $grey;
		}

		a{
			text-decoration:none;
			color: $color-5;
			font-weight: 500;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.shadow {
   -moz-box-shadow:    inset 1px 4px 9px -6px;
   -webkit-box-shadow: inset 1px 4px 9px -6px;
   box-shadow:         inset 1px 4px 9px -6px;
}

.dark{
	background-color: $color-4;
	color: $white;

	a{
		color: $white;
	}
}

.breadcrumb{
	margin-top: -5px;
	font-weight: 500;
	a{
		font-weight: 700;
	}
}

h3.new-role{
	font-size: 20px;
	border-bottom: 1px dashed #aaa;
	padding:0 0 15px 0;
}
